# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jacob\Development\CSCI 4448\Project\Milestone1-csci4448-5448\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/